@font-face {
  font-family: "Tahoma";
  src: url("fonts/fs-tahoma-8px.ttf");
}

@font-face {
  font-family: "Tahoma2";
  src: url("fonts/fs-tahoma-8px-v2.ttf");
}

div {
  position: absolute;
}

img {
  pointer-events: none;
}

body {
  background: #000;
  color: white;
  font-family: "Tahoma2", Tahoma;
  image-rendering: pixelated;
  padding: 0;
  font-size: 0.5rem;
  user-select: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

.window-background {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  border: 16px solid;
  border-image-source: url(images/SmileOSDarkBackground.png);
  border-image-slice: 16 fill;
  top: 0;
  left: 0;
}

.window-header {
  width: 100%;
  height: 16px;
}

.window-icon {
  top: 0;
  position: absolute;
  width: 16px;
  height: 16px;
}

.window-title {
  position: absolute;
  width: calc(100% - 64px);
  height: 10px;
  left: 18px;
  top: 3px;
  font-size: 12.3px;
  font-weight: bold;
  text-shadow: 0.75px 0.75px black;
  letter-spacing: 0.6px;
}

.button-square {
  right: 0px;
  background: url("/images/TopButtonSquare.png") !important;
}
.button-plus {
  right: 14px;
  background: url("/images/TopButtonPlus.png") !important;
}
.button-dot {
  right: 28px;
  background: url("/images/TopButtonDot.png") !important;
}

.window-container {
  top: 16px;
  width: 100%;
  height: calc(100% - 16px);
  position: absolute;
}

.window-page {
  width: 100%;
  height: 100%;
}

.main-window {
  top: 50%;
  left: 50%;
  width: 240px;
  height: 180px;
  transform: translate(-50%, -50%) scale(2);
  background: url(images/SmileOSDarkBackground.png);
  /* added this ^ so atleast seams wont be on the main window, only other ones */

   @media screen and (max-width: 480px), screen and (max-height: 360px) {
    transform: translate(-50%, -50%) scale(1.5);
  }
  @media screen and (max-width: 360px), screen and (max-height: 270px) {
    transform: translate(-50%, -50%) scale(1);
  }
  @media screen and (min-width: 720px) and (min-height: 540px) {
    transform: translate(-50%, -50%) scale(3);
  }
}

.totd-window {
  width: 144px;
  height: 157px;
  left: 92px;
  top: 3px;
}

.totd-window .window-title {
  left: 17px;
}

.smileos-logo {
  width: 96px;
  height: 31.89713px;
  left: -1px;
  position: absolute;
  transform: scale(0.78);
  top: 8px;
}

.inset-dark {
  width: calc(100% - 18px);
  height: calc(100% - 17px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inset-dark-background {
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border: 6px solid;
  border-image-source: url(images/DarkWindowInset.png);
  border-image-slice: 6 fill;
  top: 0;
  left: 0;
}

#tip-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12.5px;
  width: calc(100% - 24px);
  text-align: center;
  line-height: 0.75;
}

#tip-text p {
  margin-bottom: 1.5px;
  margin-top: 12px;
}
